*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
button:hover{
    opacity: 0.7;
}

.head-flex{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0 15px 0 15px;
}
.list-flex{
    display: inline-block;
}
header li{
    display: inline-block;
    text-decoration: none;
    padding:  2em 1em;
    height: 80px;
}
header li:hover{
    border-bottom: 1px solid black;
}
.inizia{
    color: white;
}

header a{
    font-size: 16px;
    text-decoration: none;
    color: black
}
header{
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 80px;
}
header button{
    color: white;
    background-color: #0061FF;
    border-style: none;
    padding: 5px 1em;
    height: 100%;
}


.jumbo{
    margin: auto;
    padding-top: 50px;
    width: 65%;
   
}
.jumbo-back{
    background: rgb(180,208,231);
    background: linear-gradient(180deg, rgba(180,208,231,1) 89%, rgba(255,255,255,1) 89%);

}
.title-cont{
    width: 65%;
    font-weight: 800;
    font-size: 30px;
    margin: auto;
    padding: 50px 0 30px;
}
.jumbo-flex{
    display: flex;
    margin: 50px auto 0;
    width: 65%;
}
.j-column{
    width: 35%;
    min-height: 100px;
}
.j-img{
    width: 65%;
    
}
.jumbo-img{
    width: 115%;
}
main{
    padding-top: 80px;
}
main p{
    font-size: 14px;
}
main span{
    font-size: 16px;
}
.main-but{
    color: white;
    
    padding: 15px 1em;
    border: none;
    margin-bottom: 2em;
    background-color: #0061FF;
    margin: 25px 0;
    font-size: 14px;
}
.fa-arrow-down{
    height: 100px;
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
}
.arrow{
    margin-top: 50px;
}
.title-A{

    width: 60%;
    margin: 20px auto 60px;
}
.sub-title{
    font-size: 30px;
    margin-top: 60px;
}
.sb1{
    margin-bottom: 40px;

}
.title-A span{
    margin-right: 50px;
}
.flex-column{
    width: 60%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.column{
    
    width: calc(90% / 3);
    min-height: 100px;
    border: 2px solid #E3E3E5;
    font-size: 14px;
    
}
.pad-col{
    padding: 0 1em 1em;
    
}
.pad-col3{
    padding: 0 1em;
}
.price{
    padding-top: 1em;
    font-weight: bold;
    font-size: 14px;
}
.period{
    padding: 5px 0 3em;
    font-size: 12px;
    color: #969696;
}
.indent{
    padding: 0 14px 20px;
    text-indent: -5px;
    font-size: 12px;
    
}
.col-icon{
    text-align: center;
    height: 30px;
    width: 100%;
    line-height: 30px;
}
.col-but{
    background-color: #0061FF;
    padding: 15px 1em;
    color: white;
    border: none;
    margin-bottom: 2em;
}
.col-but4{
    background-color: #0061FF;
    padding: 15px 1em;
    color: white;
    border: none;
    margin-bottom: 2em;
   
}
.fa-building{
    padding-right: 5px;
}
.fa-users{
    padding-right: 5px;
}
.fa-user{
    padding-right: 5px;
}
.fa-folder{
    padding-right: 5px; 
}
.fa-share-nodes{
    padding-right: 5px;     
}
.col-bt-flex{
    display: flex;
    flex-direction: column;
    padding: 1em;
}
.col-bt-flex2{
    display: flex;
    flex-direction: column;
    padding: 0 1em 1em 1em;

}
.col-bt-flex hr{
    margin: 1em 0;
    width: 40px;
}
.col-bt-flex2 hr{
    margin: 1em 0;
    width: 40px;
} 
.buy{
    padding: 1em 0;
    font-size: 12px;
}
h6{
    padding: 2em 0 2em 0;
    font-size: 13px;
}

.col-title{
    padding-top: 20px;
    
}
main hr{
    
    border: 1px solid #E3E3E5;
}
.last-box{
    margin: 0 auto 100px;
    width: 60%;
    border: 2px solid #E3E3E5;
    min-height: 100px;
}
.box-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 2em;
}
.box-content p{
    padding-top: 2em;
    font-size: 12px;
}
.last-colp{
    padding-top: 2em;
    font-size: 12px;
}
.buttondiv{
    width: 30%;
    display: flex;
    flex-direction: column;
    padding-left: 1em;
}
.divflex-box{
    width: 50%;
}
h5{
    font-size: 20px;
}
.flex-s2{
    display: flex;
    margin: 50px auto;
    width: 60%;
    min-height: 100px;
}
.s2-img{
   width: 60%;
    
   
}
.image-size{
    width: 100%;
}
.s2-text{
   width: 40%;
   padding-left: 3em;
   
}
.s2-text p{
    font-size: 14px;
}
.s2-text h5{
    padding: 2em 0 1em 0;
}
.s2-text button{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    padding: 15px 1em;
    margin: 2em 0;
}
.s2-sub{
    min-height: 30px;
    width: 60%;
    margin: auto;
}
.flex-s2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    width: 60%;
    min-height: 300px;
    
}
.s2-column{
    width: calc(95% / 3);
    min-height: 100px;
    margin-bottom: 40px;
}
.s2-column img{
    width: 100%;
}
.s2-column p{
    padding-top: 2em;
    font-size: 14px;
}
.sb2{
    margin: 100px 0 50px;
}
.s2-last-cont{
    width: 60%;
    min-height: 100px;
    margin: 50px auto;
}
.s2-last-cont a{
    font-size: 14px;
}
.sb3{
    margin-bottom: 40px;
}
.flex-s3{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    margin-top: 150px;
}
.s3-cont{
    width: calc(100% / 3);
    background-color: rgb(231, 231, 231);
    display: flex;
    flex-wrap: wrap;
    min-height: 100px;
}
.s3-cont img{
    width: 50%;
    height: 50%;
    padding: 3em;
}
#designit{
    padding-bottom: 0;
    padding-top: 0;
}
.middle hr{
    border: 1px solid rgb(154, 154, 154);
    margin: 0 3em 2em;
    width: 80px;

}
.over p{
    font-size: 14px;
    padding: 0 3em 3em 3em;

}
.invert{
    filter: invert(1);
}
.img1{
    background-color: rgb(0, 255, 123);
    border: 3px;
    padding: 3px;
    
}
.img2{
    background-color: rgb(255, 138, 162);

}
.img3{
    background-color: rgb(255, 221, 137);
}
.img4{
    background-color: rgb(255, 138, 245);
}
.middle{
    overflow: auto;
    height: 400px;
}
.s4-container{
    width: 100%;
    min-height: 200px;
    padding-top: 50px;
    background-color: rgb(180,208,231);
}
.s4-flex{
    width: 60%;
    min-height: 200px;
    margin: 50px auto;
    display: flex;
    align-items: baseline;

}
.s4-l{
    width: 60%;
}
.s4-r{
    width: 40%;
    display: flex;
    justify-content: flex-end;
}
.s4-r button{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-style: none;
    padding: 15px 1em;
    border: none;
    margin-bottom: 2em;
}
.s5-cont{
    width: 60%;
    margin: 90px auto;
}
.s5-flex{
    width: 60%;
    margin: auto;
}

.hide{
    display: none;
    font-size: 14px;
    width: 80%;
    padding-top: 2em;
}
.s5-column:hover  .hide{
    display: block;
}
.s5-column:hover .fa-angle-up{
    transform: rotate(-180deg);
    
    
}


.s5-column{
    min-height: 30px;
    display: flex;
    border-top: 1px solid black;
    padding-top: 1em;
    padding-bottom: 1em;
    justify-content: space-between;
    flex-wrap: wrap;
}
.s5-column i{
    padding-right: 2em;
    font-size: 12px;
}
.last{
    border-bottom: 1px solid black;
}
h4{
    font-size: 12px;
}
.ft-container{
    width: 100%;
    margin-top: 100px;
}
.ft-flex{
    width: 80%;
    min-height: 300px;
    margin: 50px auto 0;
    display: flex;
}
.ft-column{
    width: 20%;
    height: 200px;
    padding: 2em 1em 0;
}
footer li{
    
    padding-top: 1em;
    font-size: 12px;
    list-style: none;
}
footer{
    color: white;
    background-color: black;
   
}
.language{
    color: white;
    width: 80%;
    margin: auto;
    padding-bottom: 20px;
    font-size: 10px;
    
    padding-top: 5em;
}
.ft-hr{
    width: 60px;
    color: white;
    margin-left: 10%;
}
footer a{
    text-decoration: none;
    color: white;
}
footer a:hover{
    text-decoration: underline;
}
footer button{
    border: none;
    background: none;
    color: white;
}
.menu{
    width: 60px;
    
    
}
#menuhr{
    width: 100%;
    margin: 5px 0;
}
#lingue{
    padding: 5px;
}
